:root {
    --cta-red: #c60c30;
    --cta-blue: #00a1de;
    --cta-brown: #62361b;
    --cta-green: #009b3a;
    --cta-orange: #f9461c;
    --cta-purple: #522398;
    --cta-pink: #e27ea6;
    --cta-yellow: #f9e300;
}

.sidebar {
    min-height: 95vh;
}

body {
    padding-bottom: 56px;
}

.prediction-card {
    width: 18rem;
}