{% extends "base.html" %}

{% block full_page_content %}
<div id="about" class="text-center mt-5">
    <div class="container">
        <div class="title">
            <h1 class="text-primary">About myChi</h1>
        </div>
        <div class="about-caption mt-5">
            <p class="text-secondary">myChi aims to be a dashboard to display Chicago open data in an at-a-glance,
                concise format that focuses
                on the details that matter most.</p>
        </div> <!-- end about-caption -->
    </div> <!-- end container -->
</div> <!-- end about -->
{% endblock %}