{% extends "base.html" %}

{% block full_page_content %}
<div id="welcome" class="text-center mt-5">
    <div class="container">
        <div id=<div class="title">
            <h1 class="text-primary">*myChi</h1>
            <h3 class="my-3 text-primary">A Concise Data Dashboard</h3>
        </div> <!-- end title -->
    </div> <!-- end container -->
    <div class="container my-5">
        <div class="header-caption">
            <h5 class="text-secondary">Welcome to your new best friend for exploring Chicago's open data.</h5>
        </div> <!-- end header-caption -->
    </div> <!-- end container -->
</div> <!-- end welcome -->


{% endblock %}

{% block alerts %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class=" container">
    <div class="alert alert-{{ category }}">{{ message }}</div> <!-- end alert -->
</div> <!-- end container -->
{% endfor %}
{% endblock %}